body {
    color: white;

    background-color: #333;
}

#main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#panel1 {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel2 {
    background-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
}

#panel1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color : white;
    padding: 1rem;
    border: 1px solid white;
    cursor: pointer;
}

#panel2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color : white;
    border: 1px solid white;
    padding: 1rem;
    cursor: pointer;
}